.root {
    background-image: linear-gradient(to bottom, #f9fbfe, #c4c6ca, #929498, #636569, #38393d);
}

.header {
    color: black; 
    font-family: 'Rubik', sans-serif; 
    font-size: 5vw; 
    font-weight: 600;   
    line-height: 8vw; 
    margin: 0 auto; 
    width: 100%;
    text-align: center; 
    /* text-transform: uppercase;  */
    display: inline-block;

}

.profile {
    text-align: center;
}

.photo {
    border-radius: 50%;
    height: 25vh;
}

.aboutme {
    color: black; 
    font-family: 'Rubik', sans-serif; 
    font-size: 2vw; 
    font-weight: 200;   
    line-height: 3vw; 
    margin: 0 auto; 
    width: 70%;
    text-align: center; 
    /* text-transform: uppercase;  */
    display: inline-block;
}

.tech {
    display: flex;
    justify-content: center;
    margin:  2vh 25vh;

}

.topic {
    margin: 20px auto;
    width: 35vh;
}

.topicTitle{
    color: black; 
    font-family: 'Rubik', sans-serif; 
    font-size: 2vw; 
    font-weight: 500;   
    line-height: 2vw; 
    margin: 0 auto; 
    width: 100%;
    text-align: center; 
    /* text-transform: uppercase;  */
    display: inline-block;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logoImage {
    width: 10vh;
    height: 11vh;
}

.logo {
     margin: 2vh;
 }

 .topicDescription{
    color: black; 
    font-family: 'Rubik', sans-serif; 
    font-size: 1vw; 
    font-weight: 200;   
    line-height: 1.5vw; 
    margin: 1vw auto; 
    width: 100%;
    text-align: center; 
    /* text-transform: uppercase;  */
    display: inline-block;
 }

@media screen and (max-width: 500px) {
    .header {
        font-size: 7vw; 
    }
    .root {
       
    }
    .aboutme {
        font-size: 4vw; 
        font-weight: 300;   
        line-height: 5vw; 
    }

    .photo {
        border-radius: 50%;
        height: 20vh;
    }

    .tech {
        margin: auto;
        display: block;
    }

    .logoImage {
        width: 5vh;
        height: 5.5vh;
    }

    .topicTitle{
        font-size: 6vw; 
        font-weight: 500;   
    }

    .topicDescription{
        font-size: 2vh;
        line-height: 2vh;
        font-weight: 300; 
    }
}


